<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Todo List</title>
	<script src="vue.2.6.js"></script>
</head>
<body>
	<div id="root">
		<input type="text" v-model="intputValue" />
		<button @click="handleSubmit">提交</button>
		<ul>
			<li v-for="(item,index) of list" :key="index">
				{{item}}
			</li>
			<todo-item></todo-item>
		</ul>
	</div>
	<script>

		//Vue组件
		Vue.component('todo-item', {
			template: "<li>item</li>"
		});
		new Vue({
			el: "#root",
			data: {
				intputValue: '',
				list: []

			},
			methods: {
				handleSubmit: function(){
					this.list.push(this.intputValue);
					this.intputValue = '';
				}
			}
		});
	</script>
</body>
</html>