<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>watch vue侦听器</title>
	<script src="vue.2.6.js"></script>
</head>
<body>
	<div id="root">
		firstName: <input type="text" v-model="firstName"> lastName: <input type="text" v-model="lastName">
		<h4>fullName: {{fullName}}</h4>
		<h4>changeCount: {{changeCount}}</h4>
	</div>
	<script>
		new Vue({
			el: "#root",
			data: {
				firstName:"smith",
				lastName: "bob",
				changeCount: 0
			},
			computed: {
				fullName: function(){
					return this.firstName +" "+ this.lastName;
				}
			},
			watch: {
				fullName: function(){
					this.changeCount ++;
				}
			}
		});
	</script>
</body>
</html>